NET "clk_in" LOC = "B8";
NET "rst" LOC = "A7";
NET "an<0>" LOC ="F12"; 
NET "an<1>" LOC ="J12";
NET "an<2>" LOC ="M13";
NET "an<3>" LOC ="K14";
NET "seg<1>" LOC = "L14";  
NET "seg<2>" LOC = "H12";  
NET "seg<3>" LOC = "N14";  
NET "seg<4>" LOC = "N11";  
NET "seg<5>" LOC = "P12";  
NET "seg<6>" LOC = "L13";  
NET "seg<7>" LOC = "M12";  
NET "dp" LOC = "N13";